<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap	= "http://phonegap.com/ns/1.0"
        id = "com.phonegap.getting.started"
        version = "0.1.1">

	<name>LIGHTellicare</name>

	<description>
    Application for LIGHT Organization
  </description>

	<author href="http://www.facebook.com/primoashbe"
          email="ashbee.morgado@icloud.com">
    Ashbee Morgado
	</author>

  <preference name="phonegap-version" value="6.5.0" />

	<icon src="icon.png" gap:role="default" />
</widget>